[Container]
ContainerName=roadmapper-ash
EnvironmentFile=%d/.env
Image=ghcr.io/intcube-io/roadmapp3r-ash:prod
PublishPort=4000:4000
Pull=newer
PodmanArgs=--authfile %d/auth.json
AutoUpdate=registry
Pull=newer
[Install]
WantedBy=default.target

[Service]
Restart=always
LoadCredential=.env:/etc/roadmapper.env
LoadCredential=auth.json:/etc/containers/auth.json
