[Unit]
After=network-online.target

[Container]
ContainerName=stalwart
Image=ghcr.io/stalwartlabs/stalwart:latest
Exec=--config /etc/stalwart/config.toml
PublishPort=25:25
PublishPort=465:465
PublishPort=993:993
PublishPort=8080:8080
Pull=newer
AutoUpdate=registry
Volume=/etc/stalwart:/etc/stalwart:ro,z
Volume=stalwart-data:/opt/stalwart:z
Volume=%d:/run/stalwart-creds:ro,z
Environment=STATE_DIRECTORY=/opt/stalwart
Environment=CREDENTIALS_DIRECTORY=/run/stalwart-creds
AddCapability=NET_BIND_SERVICE
StopSignal=SIGINT

[Install]
WantedBy=default.target

[Service]
Restart=always
RestartSec=5
LimitNOFILE=65536
LoadCredential=adminpw:/etc/stalwartadminpw.txt
