[Unit]
After=network-online.target

[Container]
ContainerName=gophish
Image=ghcr.io/cisagov/gophish:0.1.0
PublishPort=127.0.0.1:3333:3333
PublishPort=127.0.0.1:8080:8080
Pull=newer
AutoUpdate=registry
Volume=/etc/gophish/config.json:/run/secrets/config.json:ro,z
Volume=gophish-data:/home/cisa/data:z

[Install]
WantedBy=default.target

[Service]
Restart=always
RestartSec=5
